@using System.Data;
@using MES_DASHBOARD.Models;
@using MES_DASHBOARD.Controllers;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string mac_code = ViewBag.mac_code;
    string mac_name = ViewBag.mac_name;
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();

    Comm comm = new Comm();
    DSH010AController Control = new DSH010AController();
}

<style>
    .alarm {
        border-radius: 10px;
        height: 50px;
        background-color: #eee;
        line-height: 50px;
        text-align: center;
        color: #eee;
        font-size: 16px;
    }

    .alarm-header {
        background-color: #428BCA
    }

    .alarm-cell {
        background-color: #6f42c1;
    }

    .alarm-error {
        background-color: #FF3333;
        color: aliceblue;
        border-radius: 10px;
        line-height: 50px;
        height: 50px;
    }

    .alarm-caption {
        font-size: 20px;
        background-color: #09134d;
    }

    .state-run {
        /*background-color: #00DD00;*/
        color: aliceblue;
        font-size: 18px;
        font-weight: bold;
    }

    .block {
        border-radius: 10px;
        height: 100px;
        color: #eee;
        /*background-color: #eee;*/
        background-color: #428BCA;
        text-align: center;
        line-height: 100px
    }

    .mac_img {
        width: 84%;
        height: auto;
        border-radius: 10px;
    }
    

    .block-text {
        /*color: #5599FF;*/
        font-size: 20px;
        font-weight: bold;
    }

    .block-state-completed {
        background-color: #28a745;
    }

    .block-state-working {
        background-color: #dc3545;
    }

</style>

<div class="row">
    <div class="col-lg-10">
        <div class="col-sm-12">
            <div class="row">
                <h2> 第一線 </h2>
            </div>
        </div>

        <br />
        <div style="clear:both"></div>
        <br />

        <h4>
            @*<i class='ace-icon fa fa-align-justify bigger-130' style="color: #478FCA"></i> 即時資訊*@

        </h4>


        <div style="clear:both"></div>
        <br />
        <div class="col-sm-12">

            <div class="col-md-3 col-sm-3">
                <div class="row">

                    <img class="mac_img" src="~/Content/images/morewater/600ml.jpg" />

                </div>
            </div>

            <div class="col-md-8 col-sm-8">
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <div class="block" >
                            <span class="block-text" >
                                線別: 第一線
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="block">
                            <span class="block-text">
                                今日工單數: 3
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="block">
                            <span class="block-text">
                                已備料單數: 2
                            </span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3">
                        <div class="block">
                            <span class="block-text">
                                已完成單數: 2
                            </span>
                        </div>
                    </div>
                </div>
                <br />

            </div>

        </div>
        <br />

        <div style="clear:both"></div>

        <br />

        
        <h4>
            @*<i class='ace-icon fa fa-exclamation-triangle red bigger-130'></i> 訊息*@
        </h4>
        <br />
        <div class="col-sm-11">
            <div class="row">

                <!-- 左半邊 -->
                <div class="col-sm-6">
                    <div class="alarm alarm-caption" >
                        工單順序
                    </div>
                    <br />

                    <!-- 表頭 -->
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="alarm alarm-header">
                                工單號碼
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="alarm alarm-header">
                                產品名稱
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="alarm alarm-header">
                                預計產量
                            </div>
                        </div>
                    </div>
                    <br />

                    <!-- 表身 -->
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="alarm alarm-cell">
                                MO00001
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="alarm alarm-cell">
                                多喝水-450ML
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="alarm alarm-cell">
                                16000
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="alarm alarm-cell">
                                MO00002
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="alarm alarm-cell">
                                多喝水-450ML
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="alarm alarm-cell">
                                4500
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="alarm alarm-cell">
                                MO00003
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="alarm alarm-cell">
                                多喝水-450ML
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="alarm alarm-cell">
                                8000
                            </div>
                        </div>
                    </div>
                    <br />

                </div>

                <!-- 右半邊-->
                <div class="col-sm-6">
                    <div class="alarm alarm-caption" >
                        備料狀況
                    </div>
                    <br />

                    <!-- 表頭 -->
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="alarm alarm-header">
                                狀態
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="alarm alarm-header">
                                料件名稱
                            </div>
                        </div>
                    </div>
                    <br />

                    <!-- 表身 -->
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="alarm block-state-completed">
                                已完成
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="alarm alarm-cell">
                                瓶蓋
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="alarm block-state-completed">
                                已完成
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="alarm alarm-cell">
                                瓶蓋
                            </div>
                        </div>
                    </div>
                    <br />

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="alarm block-state-working">
                                備料中
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="alarm alarm-cell">
                                瓶蓋
                            </div>
                        </div>
                    </div>
                    <br />



                </div>

                
            </div>
        </div>

    </div>
    <br />

    <nav class="col-xs-12 col-lg-2">

        <br />
        <h6>生產看板</h6>

        <div class="row">
            <ul class="list-inline nav nav-list">
                <li class="li">
                    <a href="@Url.Action("Index", "DSB040A")">
                        <img src="~/Content/images/morewater/600ml.jpg" class="avatar" alt="avatar" style="height: 30px; width: 40px; border-radius:5px;">
                        第一線
                    </a>
                </li>

                <li class="li">
                    <a href="@Url.Action("Index", "DSB050A")">
                        <img src="~/Content/images/morewater/6200ml.jpg" class="avatar" alt="avatar" style="height: 30px; width: 40px; border-radius:5px;">
                        第二線
                    </a>
                </li>
            </ul>
        </div>

    </nav>
    <br />
</div>
<br />
<!---->
<br />
<div style="clear:both"></div>
<br />
@*<div class="space-20"></div>*@

<div class="row">
    <div class="col-sm-12">
        <h4>
            <i class='ace-icon fa fa-line-chart green bigger-130'></i> 運作參數
        </h4>
        @*<h4><i class='ace-icon fa fa-align-justify  bigger-130'></i>運作參數</h4>*@

        <div class="col-sm-12">
            <div id="container" style="height: 300px">
            </div>
            <div id="container2" style="height: 300px">
            </div>
            <div id="container3" style="height: 300px">
            </div>
        </div>
    </div>
</div>



<script type="text/javascript" src="~/Scripts/assets/echarts/echarts.min.js"></script>

<script type="text/javascript">
    var dom = document.getElementById("container");
    var myChart = echarts.init(dom);
    var myChart2 = echarts.init(document.getElementById("container2"));
    var myChart3 = echarts.init(document.getElementById("container3"));
    var app = {};
    option = null;

    // echart sample data
    //data = [["2000-06-05", 116], ["2000-06-06", 129], ["2000-06-07", 135], ["2000-06-08", 86], ["2000-06-09", 73], ["2000-06-10", 85], ["2000-06-11", 73], ["2000-06-12", 68], ["2000-06-13", 92], ["2000-06-14", 130], ["2000-06-15", 245], ["2000-06-16", 139], ["2000-06-17", 115], ["2000-06-18", 111], ["2000-06-19", 309], ["2000-06-20", 206], ["2000-06-21", 137], ["2000-06-22", 128], ["2000-06-23", 85], ["2000-06-24", 94], ["2000-06-25", 71], ["2000-06-26", 106], ["2000-06-27", 84], ["2000-06-28", 93], ["2000-06-29", 85], ["2000-06-30", 73], ["2000-07-01", 83], ["2000-07-02", 125], ["2000-07-03", 107], ["2000-07-04", 82], ["2000-07-05", 44], ["2000-07-06", 72], ["2000-07-07", 106], ["2000-07-08", 107], ["2000-07-09", 66], ["2000-07-10", 91], ["2000-07-11", 92], ["2000-07-12", 113], ["2000-07-13", 107], ["2000-07-14", 131], ["2000-07-15", 111], ["2000-07-16", 64], ["2000-07-17", 69], ["2000-07-18", 88], ["2000-07-19", 77], ["2000-07-20", 83], ["2000-07-21", 111], ["2000-07-22", 57], ["2000-07-23", 55], ["2000-07-24", 60]];

    option = {

        // Make gradient line here
        //visualMap: [{
        //    show: false,
        //    type: 'continuous',
        //    seriesIndex: 0,
        //    min: 0,
        //    max: 400
        //}, {
        //    show: false,
        //    type: 'continuous',
        //    seriesIndex: 1,
        //    dimension: 0,
        //    min: 0,
        //    max: dateList.length - 1
        //}],


        title: [
            {
                left: 'center',
                text: '淬火 電壓V/電流A/功率KW'
            },
        ],
        tooltip: {
            trigger: 'axis'
        },
        legend: [
            {
                x: 'center',
                y: 40,
                data: ['淬火電壓V', '淬火電流A', '淬火功率KW'],
                textStyle: {
                    //color: '#fff'
                }
            }
        ],
        xAxis: [
            {
                data: [],
                axisLabel: {
                    formatter: (function (value) {
                        return value;
                    })
                }
            },

        ],
        yAxis: [
            {
                splitLine: { show: false },
                interval: 250,
                max: 1000
            },
            //{
            //    splitLine: {show: false},
            //    gridIndex: 1
            //}
        ],
        //grid: [{
        //    bottom: '60%'
        //}, {
        //    top: '60%'
        //}],
        series: [
            // line graph 1
            {
                name: '淬火電壓V',
                type: 'line',
                showSymbol: false,
                data: [],

            },
            {
                name: '淬火電流A',
                type: 'line',
                showSymbol: false,
                data: [],

            },
            {
                name: '淬火功率KW',
                type: 'line',
                showSymbol: false,
                data: [],
            },
        ]
    };
    option2 = {
        title: {
            left: 'center',
            text: '現在設定 功率/速度1/速度2'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            x: 'center',
            y: 40,
            data: ['功率', '速度1', '速度2'],
            textStyle: {
                //color: '#fff'
            }
        },
        xAxis: [{
            data: [],
        }],
        yAxis: [
            {
                splitLine: { show: false },
                interval: 25,
                max: 100
            }
        ],

        series: [
            {
                name: '功率',
                type: 'line',
                showSymbol: false,
                data: [],
            },
            {
                name: '速度1',
                type: 'line',
                showSymbol: false,
                data: [],
            },
            {
                name: '速度2',
                type: 'line',
                showSymbol: false,
                data: [],
            }

        ]
    };

    option3 = {
        title: {
            left: 'center',
            text: '淬火線速度'
        },
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            x: 'center',
            y: 40,
            data: ['淬火線速度'],
            textStyle: {
                //color: '#fff'
            }
        },
        xAxis: [{
            data: [],
        }],
        yAxis: [
            {
                splitLine: { show: false },
                interval: 25,
                max: 100
            }
        ],

        series: [
            {
                name: '淬火線速度',
                type: 'line',
                showSymbol: false,
                data: [],
            }

        ]
    };

    // 初始化
    if (option && typeof option === "object") {
        $.ajax({
            method: "get",
            url: "@Url.Action("Get_Chart3Data", "DSH010A")",
            data: { pTkCode: "@mac_code" },
        success: function (datas) {
            refreshData(myChart3, datas)
        },
        error: function (xhr) {
            console.log("Ajax Error: " + xhr.status + ": " + xhr.statusText);
        },
        })
    $.ajax({
        method: "get",
        url: "@Url.Action("Get_Chart2Data", "DSH010A")",
        data: { pTkCode: "@mac_code" },
    success: function (datas) {
        refreshData(myChart2, datas)
    },
    error: function (xhr) {
        console.log("Ajax Error: " + xhr.status + ": " + xhr.statusText);
    },
    })
    $.ajax({
        method: "get",
        url: "@Url.Action("Get_ChartData", "DSH010A")",
        data: { pTkCode: "@mac_code" },
    success: function (datas) {
        refreshData(myChart, datas)
    },
    error: function (xhr) {
        console.log("Ajax Error: " + xhr.status + ": " + xhr.statusText);
    },
    })
        myChart.setOption(option, true);
        myChart2.setOption(option2, true);
        myChart3.setOption(option3, true);

    }

    //每10秒更新一次
    setInterval(function () {
        $.ajax({
            method: "get",
            url: "@Url.Action("Get_Chart3Data", "DSH010A")",
            data: { pTkCode: "@mac_code" },
            success: function (datas) {
                refreshData(myChart3, datas)
            },
        error: function (xhr) {
            console.log("Ajax Error: " + xhr.status + ": " + xhr.statusText);
        },
        })
    $.ajax({
        method: "get",
        url: "@Url.Action("Get_Chart2Data", "DSH010A")",
        data: { pTkCode: "@mac_code" },
        success: function (datas) {
            refreshData(myChart2, datas)
        },
    error: function (xhr) {
        console.log("Ajax Error: " + xhr.status + ": " + xhr.statusText);
    },
    })
    $.ajax({
        method: "get",
        url: "@Url.Action("Get_ChartData", "DSH010A")",
        data: { pTkCode: "@mac_code" },
        success: function (datas) {
            refreshData(myChart, datas)
        },
        error: function (xhr) {
            console.log("Ajax Error: " + xhr.status + ": " + xhr.statusText);
        },
    })
        //設定更新間隔
    }, 1000 * 10);


    function refreshData(chart, datas) {
        if (!chart) {
            return;
        }
        //更新数据
        let option = chart.getOption();
        //option.xAxis[0].data = data.map(x => x.Key);
        //option.series[0].data = data.map(x => x.Value);
        if (datas.length) {
            if (datas.length > 1) {
                for (let i = 0; i < datas.length; i++) {
                    option.xAxis[0].data = Object.keys(datas[i]);
                    option.series[i].data = Object.values(datas[i]);
                }
            }
            else {
                option.xAxis[0].data = Object.keys(datas[0]);
                option.series[0].data = Object.values(datas[0]);
            }
        }
        chart.clear();
        chart.setOption(option);

    }


    //And for the first simple table, which doesn't have TableTools or dataTables
    //select/deselect all rows according to table header checkbox
    var active_class = 'active';
    $('#simple-table > thead > tr > th input[type=checkbox]').eq(0).on('click', function () {
        var th_checked = this.checked;//checkbox inside "TH" table header

        $(this).closest('table').find('tbody > tr').each(function () {
            var row = this;
            if (th_checked) $(row).addClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', true);
            else $(row).removeClass(active_class).find('input[type=checkbox]').eq(0).prop('checked', false);
        });
    });

    //select/deselect a row when the checkbox is checked/unchecked
    $('#simple-table').on('click', 'td input[type=checkbox]', function () {
        var $row = $(this).closest('tr');
        if ($row.is('.detail-row ')) return;
        if (this.checked) $row.addClass(active_class);
        else $row.removeClass(active_class);
    });

    // 初始化
    Get_ErrorState();
    Get_LightState();
    //Get_TodayCount();
    Get_DSB01_0000();
    // 更新
    //setInterval(function () {
    //    Get_ErrorState();
    //    Get_LightState();
    //    Get_TodayCount();
    //    Get_DSB01_0000();
    //    //設定更新間隔
    //}, 1000);

    // 警報 每秒更新
    setInterval(function () {
        Get_ErrorState();
        //設定更新間隔
    }, 1000 * 3);

    // 機台狀態 每3秒更新
    setInterval(function () {
        Get_LightState();
        //設定更新間隔
    }, 1000 * 5);

    // OEE , 稼動率.產量 每2分鐘更新
    setInterval(function () {
        //Get_TodayCount();
        Get_DSB01_0000();
        //設定更新間隔
    }, 1000 * 120);

    function Get_DSB01_0000() {
        $.ajax({
            method: "get",
            url: "@Url.Action("Get_DSB01_0000", controllerName)",
            data: { mac_code: "@mac_code" },
        success: function(data) {
            $('#utilization_rate').find('span').text(data.utilization_rate + "%");
            $('#capacity_efficiency').find('span').text(data.capacity_efficiency + "%");
            $('#yield').find('span').text(data.yield + "%");
            $('#OEE').find('span').text(data.OEE + "%");
            $('#TodayCount').find('span').eq(0).text(data.all_qty);
        },
        error: function(xhr) {
            console.log("Ajax Error: " + xhr.status + ": " + xhr.statusText);
        },
        })
    }

  function Get_ErrorState() {
        @for (int i = 0; i < Control.Get_ExtremeMemory().Split(',').Length; i++) {
            string sExMemo = Control.Get_ExtremeMemory().Split(',')[i];
            <text>
                @*$.ajax({
                    method: "post",
                    url: "@Url.Action("Get_ErrorState", controllerName)",
                    data: {
                        mac_code: "@mac_code",
                        para_code: "@sExMemo",
                    },
                    success: function (data) {
                        switch (data) {
                            case "1":
                                $('#th_@sExMemo').addClass('alarm-error')
                                break;
                            case "a":
                                $('#th_@sExMemo').find('span').html("<span class='badge' style='background: lightgreen'>1</span>")
                                break;
                            case "b":
                                $('#th_@sExMemo').find('span').html("<span class='badge'>0</span>")
                                break;
                            default:
                                $('#th_@sExMemo').attr('class', 'alarm')
                                break;

                        }
                    },
                })*@
      //$('#th_M1009').addClass('alarm-error')

            </text>
        }
    }

    // 預設停機狀態
    function Get_LightState() {
        @*$.ajax({
                method: "get",
                url: "@Url.Action("Get_LightState", controllerName)",
            data: { pTkCode: "@mac_code" },
            success: function (data) {
                switch (data) {
            case "red":
                $("#LightState").css('background-color', 'red');
                $("#LightState").text("異常")
                break;
            case "yellow":
                $("#LightState").css('background-color', '#ffc107');
                $("#LightState").text("停機")
                break;
            case "green":
                $("#LightState").css('background', '#00DD00');
                $("#LightState").text("運作中")
                break;
            default:
                $("#LightState").css('background-color', '#ffc107');
                $("#LightState").text("停機")
                    break;
                }

        },
        error: function (xhr) {
            console.log("Ajax Error: " + xhr.status + ": " + xhr.statusText);
            },
        })*@
        // tmp
        $("#LightState").css('background-color', '#ffc107');
        $("#LightState").text("停機")
    }

    @*function Get_TodayCount() {
        $.ajax({
            method: "get",
            url: "@Url.Action("Get_TodayCount", controllerName)",
            data: { pTkCode: "@mac_code" },
        success: function (data) {
            $('#TodayCount').find('span').eq(0).text(data);
        },
        error: function (xhr) {
            console.log("Ajax Error: " + xhr.status + ": " + xhr.statusText);
        },
        })
    }*@


</script>


