
@model System.Data.DataTable
@using System.Data;
@using MES_WATER.Models;
@{
    ViewBag.Title = "Upload";

    string sPrgCode = ViewContext.RouteData.Values["controller"].ToString();

    List<RPT23_0100> notSaveList = ViewBag.notSaveList ?? new List<RPT23_0100>();
}

@Html.Partial("pPrgName")
@if (ViewBag.count > 0)
{
    <div class="alert alert-block alert-success">
        <button type="button" class="close" data-dismiss="alert">
            <i class="ace-icon fa fa-times"></i>
        </button>

        <p>
            <strong>
                <i class="ace-icon fa fa-check"></i>
                上傳成功!
            </strong>

        </p>
        <p>資料筆數: @ViewBag.count</p>
    </div>
}
@using (Html.BeginForm("Upload", sPrgCode, null, FormMethod.Post, new { @class = "form-horizontal", id = "validation_form", role = "form", enctype = "multipart/form-data" }))
{
    @*@Html.AntiForgeryToken()*@
    @Html.ValidationSummary()

    <div class="form-group ">
        <label class="col-sm-3 control-label no-padding-right" for="cal_date">請選擇CSV檔案</label>
        <div class="col-md-9">
            <div class="clearfix">
                <input required class="col-xs-10 col-sm-5 text-box single-line" name="upload" type="file" accept=".csv" value="">
            </div>
        </div>
    </div>



    @*<div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">
            <i class="ace-icon fa fa-times"></i>
        </button>
        <h4>
            <strong>匯入說明:</strong>
        </h4>
        <ol>
            <li>下載範本: <a href="~/Upload/Sample/倉庫匯入範本.csv">倉庫匯入範本.csv</a></li>
            <li>請勿修改表頭名稱</li>
        </ol>
    </div>*@
    if (notSaveList.Count > 0)
    {
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">
                <i class="ace-icon fa fa-times"></i>
            </button>
            <h4>
                <strong>已存在資料:</strong>
            </h4>
            <ol>
                @foreach (RPT23_0100 item in notSaveList)
                {
                    <li>訂單單號 @item.DOC_NO 序號 @item.SequenceNumber</li>
                }
            </ol>
        </div>
    }
    <div class="clearfix form-actions">

        <div class="col-md-offset-3 col-md-9">
            <div class="checkbox">
                <label class="block">
                    <input name="isUpdate" type="checkbox" class="ace input-lg">
                    <span class="lbl bigger-120"> 是否覆蓋已有資料 </span>
                </label>
            </div>
            <br />
            <input type="submit" value="上傳" class="btn btn-white btn-info btn-bold">
            &nbsp;
            <a class="btn btn-white btn-pink btn-round" href="/@sPrgCode">
                返回
            </a>

        </div>
    </div>

}
@section footer_script {
    <script>
        $("form").submit(function () {
            $('input[type=submit], a').attr('disabled', 'disabled');
        });
    </script>

}


