@using MES_WATER.Models;
@using System.Data;

@*修改點 向下*@
@model MES_WATER.Models.MET01_0000
@*修改點 向上*@

@{
    //主檔頁面
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //公用函數庫
    Comm comm = new Comm();
    GetModelValidation gmv = new GetModelValidation();

    //公用變數
    string sPrgCode = ViewContext.RouteData.Values["controller"].ToString();
    string limit_str = comm.Get_LimitByUsrCode(User.Identity.Name, sPrgCode);
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    DataTable dtWork = ViewBag.work_data;
    DataTable dtNg = ViewBag.ng_data;

    //取得畫面上下拉選單的選項值
    List<DDLList> ng_code_list = comm.Get_DDLOption("ng_code", "A");
}

@section head_plugin {
    <link rel="stylesheet" href="~/Scripts/assets/jquery-ui-1.12.1/jquery-ui.css" />
    <link rel="stylesheet" href="~/Content/assets/css/ui.multiselect.css" />
    <link rel="stylesheet" href="~/Content/assets/css/ui.jqgrid.css" />
}
@Html.Partial("pPrgName")
<div class="clearfix">
    @using (Html.BeginForm("Class", sPrgCode, FormMethod.Post, new { @class = "form-horizontal", id = "validation_form", role = "form" }))
    {
        <table id="dtable" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th style="text-align:center;">製程名稱</th>
                    <th style="text-align:center;">不良品數</th>
                    <th style="text-align:center;">已分類數</th>
                    <th style="text-align:center;">單位</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < dtWork.Rows.Count; i++)
                {
                    DataRow row = dtWork.Rows[i];
                    string work_code = row["work_code"].ToString();
                    <tr>
                        <td style="text-align:center;background-color:lightgoldenrodyellow;">@row["work_name"].ToString()</td>
                        <td style="text-align:left;background-color:lightgoldenrodyellow;">@row["ng_qty"].ToString()</td>
                        <td style="text-align:right;background-color:lightgoldenrodyellow;">@row["class_qty"].ToString()</td>
                        <td style="text-align:left;background-color:lightgoldenrodyellow;">@row["ng_unit"].ToString()</td>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <table id="dtable" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th style="text-align:center;background-color:powderblue;width:8%">刪除</th>
                                        <th style="text-align:center;background-color:powderblue;">不良原因</th>
                                        <th style="text-align:center;background-color:powderblue;">數量</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int j = 0; j < dtNg.Rows.Count; j++)
                                    {
                                        DataRow ngrow = dtNg.Rows[j];
                                        if (work_code == ngrow["work_code"].ToString())
                                        {
                                            string id = ngrow["ureport_code"].ToString();
                                            <tr>
                                                <td style="text-align:center;">
                                                    @if (id != "")
                            {
                                                        <a href="@Url.Action("Delete", sPrgCode)?pTkCode=@ViewBag.mo_code&pKey=@id" onclick="return del();">
                                                            <span class="fa fa-tachometer"></span>
                                                        </a>
                                                    }
                                                </td>
                                                <td style="text-align:center;">@ngrow["ng_name"].ToString()</td>
                                                <td style="text-align:center;">@ngrow["ng_qty"].ToString()</td>
                                            </tr>
                                        }
                                    }
                                    <tr>
                                        <td style="text-align:center;">
                                        </td>
                                        <td style="text-align:center;">
                                            <select class="chosen-select" id="ng_code_@work_code" name="ng_code_@work_code">
                                                @CustomHelper.Get_Option(ng_code_list, "", true)
                                            </select>
                                        </td>
                                        <td style="text-align:center;">
                                            <input id="qty_@work_code" name="qty_@work_code" value="" class="" style="text-align:right;" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
                <div class="text-center">
                    <input type="submit" value="儲存" class="btn btn-white btn-info btn-bold" />
                    &nbsp;
                    <a class="btn btn-white btn-pink btn-round" href=@Url.Action("Index", sPrgCode)>
                        <i class="ace-icon fa fa-undo "></i>
                        返回
                    </a>
                </div>
                <input type="hidden" id="mo_code" name="mo_code" value="@ViewBag.mo_code" />
    }
    <script type="text/javascript">
        function del() {
            var msg = "確定要刪除？";
            if (confirm(msg) == true) {
                return true;
            } else {
                return false;
            }
        }
    </script>
</div>